@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

:root {
    --primary-color: rgb(23, 165, 201);
    --primary-color-darker: rgb(12, 73, 185);
}

* {
 box-sizing: border-box; 
 outline: none;  
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
    font-style: italic;
}

h2 {
    font-style: italic;
    font-size: 1.0em;
}

.nome {
    display: block;
    font-size: 1.0em;
    padding: 5px;
    height: 35px;
    width: 300px;
    border-radius: 10px;

}

.idade {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    height: 45px;
    width: 85px;
    border-radius: 10px;
}

.altura {

    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    height: 45px;
    width: 85px;
    border-radius: 10px;
}

.peso {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    height: 45px;
    width: 85px; 
    border-radius: 10px;
}

.container > button {
    background-color: var(--primary-color);
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    height: 50px;
    width: 600px;
    border-radius: 10px;
}
 p {
    padding-left: 5px;
    font-style: italic;
    font-weight: bold;
}

section.container {
    max-width: 640px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 10px;
}

form  input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

 form > input {
    font-size: 24px;
    height: 20px;
    padding: 0 20px;

}

form > input:focus {
    outline: 1px solid var(--primary-color);
}

form > button {
    border: none;
    background-color: var(--primary-color);
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}

form > button:hover{
    background-color: var(--primary-color-darker);
}


